@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif
}

:root{
    /* Mau sac*/
    --body-color: #dddddd;
    --sidebar-color: #eeeeee;
    --primary-color: #2f6cad;
    --text-color: #406E8E;
    --main-color: #125e8a;
}

body{
    /*vh: viewport height: chieu cao thiet bi*/
    min-height: 100vh;
    background: var(--body-color);
}

.header-text .cap{
    font-weight: 400;
}

.sidebar .text{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
}


.header-text .truong{
    /*margin-top: khoang cach tren dau cua phan tu*/
    font-weight: 600;
    margin-top: -2px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: var(--sidebar-color);
}

.sidebar-header .image-text{
    display: flex;
    align-items: center;
}

.sidebar .sidebar-header{
    display: flex;
    position: relative;
    align-items: center;
    padding: 3px 10px;
    justify-content: space-between;
}

.header-logo img{
    /*border radius: lam cong cac goc cua anh*/
    width: 50px;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 15%;
    margin: 15px 15px;
}

.sidebar-nav .nav-list{
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar-nav .nav-item .nav-link{
    height: 50px;
    color: var(--text-color);
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    border: 5px solid var(--sidebar-color);
    transition: 0.3s ease;
}

.sidebar-nav .nav-item:hover > .nav-link{
    color: var(--sidebar-color);
    background: var(--text-color);
}

/*dropdown styling*/
.sidebar-nav .dropdown-container .dropdown-icon{
    margin: 0 -4px 0 auto;
}

.sidebar-nav .dropdown-menu{
    /*ban dau truoc khi toggle dropdown, dropdown menu se khong hien thi voi height=0*/
    list-style: none;
    height: 0;
    padding-left: 15px;
    transition: height 0.4s ease;
    overflow-y: hidden;
}

.dropdown-menu .nav-item .dropdown-title{
    /*In dam chu de chinh cua dropdown*/
    font-weight: 600;
}

.dropdown-menu .nav-item .nav-link{
    padding: 9px 15px;
}

.home{
    /*Xac dinh vi tri thanh phan cua web khi da co sidebar*/
    position: relative;
    height: 100vh;
    margin-left: 260px;
    padding-left: 0;
    width: calc(100%-260px);
    overflow-x: auto;
}

table{
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}

th img, td img{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

table, th, td{
    border: none;
    word-wrap: break-word;
}

th:nth-child(2) {
    vertical-align: top;
    background: #f2f2f2;
    padding-left: 10px;
}

h1{
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color);
}

h2{
    font-size: 15px;
    font-weight: 400;
    color: var(--main-color);
    text-align: left;
}

.container{
    margin: 0px auto;
    width: 100%;
    padding: 0;
}

.home .container img{
    float: right;
    width: 200px;
    height: 200px;
    padding: 0 10px 0 0;
}

.text{
    text-align: justify;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

